# Data
data/raw/*
data/poses/*
!data/raw/climb_log.csv
!data/poses/floats_your_boat.json
data/raw_tb2/
data/poses_tb2/
data/calibrations/
data/kilter.db
data/tension.db
data/dataset.npz
data/checkpoints/
data/viz/
data/calibration_frames/
data/detected_features/
data/holds.json

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# ViTPose model weights
*.pth

# Misc
test_calibration.py
tb2-colab.zip