# Data
data/*
!data/raw/climb_log.csv
tb2-colab/

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# ViTPose model weights
*.pth

# Misc
test_calibration.py
tb2-colab.zip