# Data
data/raw/*
data/poses/*
!data/raw/climb_log.csv
!data/poses/floats_your_boat.json
data/raw_tb2/
data/poses_tb2/
data/calibrations/
data/kilter.db
data/tension.db

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# ViTPose model weights
*.pth

# Misc
test_calibration.py